.header-main {
    display: flex;
    color: #fff;
    background-color: #111;
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instax-logo-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.instax-logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.avatar-sample-main {
    padding: 10px;
}

.avatar-sample {
    cursor: pointer;
}

.content-main {
    display: flex;
    color: #000;
    height: 100vh;
    background-color: #fcf5e5;
}

.feed-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* .footer-main {
    color: #fff;
    background-color: #041e42;
} */