.profile-header-main {
    background-color: #111;
}

.profile-avatar {
    display: flex;
    margin: auto;
    padding: 20px;
}

.journal-menu {
    width: 100%;
}

.ant-menu-submenu {
    color: #fff;
    background-color: #333333;
}

.ant-menu-item {
    background-color: #777777;
}