.profile-header-main {
    background-color: #101010;
}

.profile-avatar {
    display: flex;
    margin: auto;
    padding: 20px;
}

.journal-list {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    background-color: #ffecd1;
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    
}