/* .header-main {
    color: #fff;
    background-color: #fff;
}

.side-tab-bar {
    height: 100vh;
}

.ant-tabs-content-holder {
    width: 100vw;
    background-color: #ffecd1;
}

.ant-collapse {
    border: none;
}

.ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
    padding: 0px;
}

.ant-tabs-nav-list {
    background-color: #000;
    padding: 10px;
}

.ant-tabs .ant-tabs-tab-active {
    background-color: #242424;
    border-radius: 10px;
}

.ant-tabs-tab-btn {
    color: #ffecd1;
}

.label-main {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.ant-collapse {
    border: none;
}

.ant-layout-header {
    background-color: #333;
}

.ant-layout-sider-children {
    background-color: #000;
}

.ant-menu {
    background-color: #000;
}

.ant-menu-item-selected {
    background-color: #333333 !important;
}

.ant-menu-dark .ant-menu-item-selected {
    color: #ffecd1;
}

.menu-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages-logo {
    width: 50px;
    height: 50px;
}

.pages-text {
    color: #fff;
    font-size: 20px;
    padding: 10px;
}