.login-screen {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url("../../Assets/instax_login_wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2C2C2C;
}

.logoNlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.logo-space {
    display: flex;
    margin-bottom: 70px;
}

.instaxLogo {
    width: 170px;
    height: 170px;
    margin: auto;
    justify-content: center;
}

.center-divide {
    height: 150px;
    background-color: #fff;
    width: 1px;
    border-radius: 10px;
    margin-bottom: 60px;
    margin-right: 20px;
}

.login-main {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.divider-main {
    color: #fff;
    width: 10px;
    height: 150px;
}

.login-form {
    width: 300px;
}

.login-form-button {
    width: 100%;
    background-color: #041e42;
}

.login-form-button .ant-btn-primary:hover {
    background-color: #005a9c;
}

.register-text {
    padding: 10px;
}

.actual-register {
    color: #041e42;
}